In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["John", "Jane", "Max"],
    "last": ["Doe", "Smith", "Payne"],
    "email": ["john@gmail.com", "jane@gmail.com", "max@gmail.com"]
}

In [3]:
people['email']

['john@gmail.com', 'jane@gmail.com', 'max@gmail.com']

In [4]:
df = pd.DataFrame(people)
df

  first   last           email
0  John    Doe  john@gmail.com
1  Jane  Smith  jane@gmail.com
2   Max  Payne   max@gmail.com

In [5]:
df['email']

0    john@gmail.com
1    jane@gmail.com
2     max@gmail.com
Name: email, dtype: object

In [6]:
type(df['email'])

pandas.core.series.Series

In [7]:
df.email

0    john@gmail.com
1    jane@gmail.com
2     max@gmail.com
Name: email, dtype: object

In [8]:
df[['last', 'email']]

    last           email
0    Doe  john@gmail.com
1  Smith  jane@gmail.com
2  Payne   max@gmail.com

In [9]:
# Access Columns
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [10]:
# iloc - access rows using integer location
df.iloc[0]

first              John
last                Doe
email    john@gmail.com
Name: 0, dtype: object

In [11]:
df.iloc[[0, 1]]

  first   last           email
0  John    Doe  john@gmail.com
1  Jane  Smith  jane@gmail.com

In [12]:
# Access columns with iloc
df.iloc[[0, 1], 2]

0    john@gmail.com
1    jane@gmail.com
Name: email, dtype: object

In [13]:
# loc - Searching with label
df.loc[0]

first              John
last                Doe
email    john@gmail.com
Name: 0, dtype: object

In [14]:
df.loc[[0, 1]]

  first   last           email
0  John    Doe  john@gmail.com
1  Jane  Smith  jane@gmail.com

In [15]:
df.loc[[0, 1], 'email']

0    john@gmail.com
1    jane@gmail.com
Name: email, dtype: object

In [16]:
df.loc[[0, 1], ['email', 'first']]

            email first
0  john@gmail.com  John
1  jane@gmail.com  Jane

## Set, reset and use Indexes

In [17]:
df.set_index('email')

               first   last
email
john@gmail.com  John    Doe
jane@gmail.com  Jane  Smith
max@gmail.com    Max  Payne

In [18]:
df.set_index('email', inplace=True)

In [19]:
df.index

Index(['john@gmail.com', 'jane@gmail.com', 'max@gmail.com'], dtype='object', name='email')

In [20]:
df.loc['john@gmail.com']

first    John
last      Doe
Name: john@gmail.com, dtype: object

In [21]:
df.loc['john@gmail.com', 'first']

'John'

In [22]:
df.iloc[0]
# df.loc[0] will give type error

first    John
last      Doe
Name: john@gmail.com, dtype: object

In [23]:
# inplace when set to True will modify the actual data frame
df.reset_index(inplace=True)
df

            email first   last
0  john@gmail.com  John    Doe
1  jane@gmail.com  Jane  Smith
2   max@gmail.com   Max  Payne

## Filtering

In [24]:
filt = df['last'] == 'Doe'

In [25]:
df[filt]

            email first last
0  john@gmail.com  John  Doe

In [26]:
df.loc[filt]

            email first last
0  john@gmail.com  John  Doe

In [27]:
df.loc[filt, 'email']

0    john@gmail.com
Name: email, dtype: object

In [28]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')

In [29]:
df.loc[filt]

            email first last
0  john@gmail.com  John  Doe

In [30]:
filt = (df['last'] == 'Doe') | (df['first'] == 'Jane')

In [31]:
df.loc[filt]

            email first   last
0  john@gmail.com  John    Doe
1  jane@gmail.com  Jane  Smith

In [32]:
df.loc[~filt]

           email first   last
2  max@gmail.com   Max  Payne

## Update Rows and Columns

In [33]:
df.columns

Index(['email', 'first', 'last'], dtype='object')

In [34]:
df.columns = ['first_name', 'last_name', 'email']

In [35]:
df

       first_name last_name  email
0  john@gmail.com      John    Doe
1  jane@gmail.com      Jane  Smith
2   max@gmail.com       Max  Payne

In [36]:
df.columns = [x.upper() for x in df.columns]

In [37]:
df

       FIRST_NAME LAST_NAME  EMAIL
0  john@gmail.com      John    Doe
1  jane@gmail.com      Jane  Smith
2   max@gmail.com       Max  Payne

In [38]:
df.columns = [x.lower() for x in df.columns]

In [39]:
df

       first_name last_name  email
0  john@gmail.com      John    Doe
1  jane@gmail.com      Jane  Smith
2   max@gmail.com       Max  Payne

In [40]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)

In [41]:
df

            first  last  email
0  john@gmail.com  John    Doe
1  jane@gmail.com  Jane  Smith
2   max@gmail.com   Max  Payne

In [42]:
df.loc[2] = ['Tim', 'Payne', 'tim@gmail.com']

In [43]:
df

            first   last          email
0  john@gmail.com   John            Doe
1  jane@gmail.com   Jane          Smith
2             Tim  Payne  tim@gmail.com

In [44]:
df.loc[2, ['first', 'email']] = ['Max', 'max@gmail.com']

In [45]:
df

            first   last          email
0  john@gmail.com   John            Doe
1  jane@gmail.com   Jane          Smith
2             Max  Payne  max@gmail.com

In [46]:
filt = (df['email'] == 'john@gmail.com')
df.loc[filt, 'last'] = "Smith"

In [47]:
df

            first   last          email
0  john@gmail.com   John            Doe
1  jane@gmail.com   Jane          Smith
2             Max  Payne  max@gmail.com

In [48]:
df['email'] = df['email'].str.upper()
df

            first   last          email
0  john@gmail.com   John            DOE
1  jane@gmail.com   Jane          SMITH
2             Max  Payne  MAX@GMAIL.COM

In [49]:
df['email'] = df['email'].str.lower()
df

            first   last          email
0  john@gmail.com   John            doe
1  jane@gmail.com   Jane          smith
2             Max  Payne  max@gmail.com

### apply

In [50]:
df['email'].apply(len)

0     3
1     5
2    13
Name: email, dtype: int64

In [51]:
def update_email(val):
    return val.upper()

df['email'] = df['email'].apply(update_email)
df

            first   last          email
0  john@gmail.com   John            DOE
1  jane@gmail.com   Jane          SMITH
2             Max  Payne  MAX@GMAIL.COM

In [52]:
# Using lambda function
df['email'] = df['email'].apply(lambda x: x.lower())
df

            first   last          email
0  john@gmail.com   John            doe
1  jane@gmail.com   Jane          smith
2             Max  Payne  max@gmail.com

In [53]:
# apply on data frame
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [54]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

### applymap

In [55]:
df.applymap(len)

   first  last  email
0     14     4      3
1     14     4      5
2      3     5     13

In [56]:
df.applymap(str.upper)

            first   last          email
0  JOHN@GMAIL.COM   JOHN            DOE
1  JANE@GMAIL.COM   JANE          SMITH
2             MAX  PAYNE  MAX@GMAIL.COM

### map

In [57]:
df['first'].map({'John': 'Will'})

0    NaN
1    NaN
2    NaN
Name: first, dtype: object

### replace

In [58]:
df['first'].replace({'John': 'Will'})

0    john@gmail.com
1    jane@gmail.com
2               Max
Name: first, dtype: object

## Add and Remove Rows and Columns

In [59]:
df = pd.DataFrame(people)
df

  first   last           email
0  John    Doe  john@gmail.com
1  Jane  Smith  jane@gmail.com
2   Max  Payne   max@gmail.com

In [60]:
df['first'] + ' ' + df['last']

0      John Doe
1    Jane Smith
2     Max Payne
dtype: object

In [61]:
df['full_name'] = df['first'] + ' ' + df['last']

In [62]:
df

  first   last           email   full_name
0  John    Doe  john@gmail.com    John Doe
1  Jane  Smith  jane@gmail.com  Jane Smith
2   Max  Payne   max@gmail.com   Max Payne

In [63]:
df.drop(columns=['first', 'last'], inplace=True)

In [64]:
df

            email   full_name
0  john@gmail.com    John Doe
1  jane@gmail.com  Jane Smith
2   max@gmail.com   Max Payne

In [65]:
df['full_name'].str.split(' ', expand=True)

      0      1
0  John    Doe
1  Jane  Smith
2   Max  Payne

In [66]:
df[['first', 'last']] = df['full_name'].str.split(' ', expand=True)

In [67]:
df

            email   full_name first   last
0  john@gmail.com    John Doe  John    Doe
1  jane@gmail.com  Jane Smith  Jane  Smith
2   max@gmail.com   Max Payne   Max  Payne

In [68]:
df.append({'first': 'Tim'}, ignore_index=True)

            email   full_name first   last
0  john@gmail.com    John Doe  John    Doe
1  jane@gmail.com  Jane Smith  Jane  Smith
2   max@gmail.com   Max Payne   Max  Payne
3             NaN         NaN   Tim    NaN

In [69]:
people2 = {
    "first": ["Jason", "Emily"],
    "last": ["Smith", "Blunt"],
    "email": ["jason@gmail.com", "emily@gmail.com"]
}
df2 = pd.DataFrame(people2)
df2

   first   last            email
0  Jason  Smith  jason@gmail.com
1  Emily  Blunt  emily@gmail.com

In [70]:
df = df.append(df2, ignore_index=True)
df

             email   full_name  first   last
0   john@gmail.com    John Doe   John    Doe
1   jane@gmail.com  Jane Smith   Jane  Smith
2    max@gmail.com   Max Payne    Max  Payne
3  jason@gmail.com         NaN  Jason  Smith
4  emily@gmail.com         NaN  Emily  Blunt

In [71]:
df.drop(index=4)

             email   full_name  first   last
0   john@gmail.com    John Doe   John    Doe
1   jane@gmail.com  Jane Smith   Jane  Smith
2    max@gmail.com   Max Payne    Max  Payne
3  jason@gmail.com         NaN  Jason  Smith

In [72]:
filt = (df['last'] == 'Doe')
df.drop(index=df[filt].index)

             email   full_name  first   last
1   jane@gmail.com  Jane Smith   Jane  Smith
2    max@gmail.com   Max Payne    Max  Payne
3  jason@gmail.com         NaN  Jason  Smith
4  emily@gmail.com         NaN  Emily  Blunt

## Sorting Data

In [73]:
people = {
    "first": ["John", "Jane", "Max"],
    "last": ["Doe", "Doe", "Payne"],
    "email": ["john@gmail.com", "jane@gmail.com", "max@gmail.com"]
}
df = pd.DataFrame(people)
df

  first   last           email
0  John    Doe  john@gmail.com
1  Jane    Doe  jane@gmail.com
2   Max  Payne   max@gmail.com

In [74]:
df.sort_values(by='last')

  first   last           email
0  John    Doe  john@gmail.com
1  Jane    Doe  jane@gmail.com
2   Max  Payne   max@gmail.com

In [75]:
df.sort_values(by='last', ascending=False)

  first   last           email
2   Max  Payne   max@gmail.com
0  John    Doe  john@gmail.com
1  Jane    Doe  jane@gmail.com

In [76]:
df.sort_values(by=['last', 'first'], ascending=False)

  first   last           email
2   Max  Payne   max@gmail.com
0  John    Doe  john@gmail.com
1  Jane    Doe  jane@gmail.com

In [77]:
df.sort_index()

  first   last           email
0  John    Doe  john@gmail.com
1  Jane    Doe  jane@gmail.com
2   Max  Payne   max@gmail.com

In [78]:
df['first'].sort_values()

1    Jane
0    John
2     Max
Name: first, dtype: object

## Cleaning Data - Casting Datatypes and Handling Missing Values

In [83]:
import numpy as np
people = {
    'first': ['John', 'Jane', 'Chris', 'Will', np.nan, None, 'NA'],
    'last': ['Doe', 'Doe', 'Smith', 'Smith', np.nan, np.nan, 'Missing'],
    'email': ['john@gmail.com', 'jane@gmail.com', 'chris@gmail.com', None, np.nan, 'anonymous@gmail.com', 'NA'],
    'age': [33, 55, 45, 24, None, None, 'Missing']
}
df = pd.DataFrame(people)
df

   first     last                email      age
0   John      Doe       john@gmail.com       33
1   Jane      Doe       jane@gmail.com       55
2  Chris    Smith      chris@gmail.com       45
3   Will    Smith                 None       24
4    NaN      NaN                  NaN     None
5   None      NaN  anonymous@gmail.com     None
6     NA  Missing                   NA  Missing

In [84]:
df.dropna()
# Default value - df.dropna(axis='index', how='any')
# axis can be 0=index or 1=column
# how = any will remove all the rows which have any of the data as none or missing in the row

   first     last            email      age
0   John      Doe   john@gmail.com       33
1   Jane      Doe   jane@gmail.com       55
2  Chris    Smith  chris@gmail.com       45
6     NA  Missing               NA  Missing

In [85]:
df.dropna(axis='index', how='all')
# how=all will only remove the rows if all the data are none or missing in the row

   first     last                email      age
0   John      Doe       john@gmail.com       33
1   Jane      Doe       jane@gmail.com       55
2  Chris    Smith      chris@gmail.com       45
3   Will    Smith                 None       24
5   None      NaN  anonymous@gmail.com     None
6     NA  Missing                   NA  Missing

In [88]:
df.dropna(axis='columns', how='any')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

In [89]:
df.dropna(subset=['email'])

   first     last                email      age
0   John      Doe       john@gmail.com       33
1   Jane      Doe       jane@gmail.com       55
2  Chris    Smith      chris@gmail.com       45
5   None      NaN  anonymous@gmail.com     None
6     NA  Missing                   NA  Missing

In [92]:
df.dropna(axis='index', how='all', subset=['last', 'email'])

   first     last                email      age
0   John      Doe       john@gmail.com       33
1   Jane      Doe       jane@gmail.com       55
2  Chris    Smith      chris@gmail.com       45
3   Will    Smith                 None       24
5   None      NaN  anonymous@gmail.com     None
6     NA  Missing                   NA  Missing

In [93]:
# remove custom missing values
df.replace('NA', np.nan, inplace=True)
df.replace('Missing', np.nan, inplace=True)

In [94]:
df

   first   last                email   age
0   John    Doe       john@gmail.com  33.0
1   Jane    Doe       jane@gmail.com  55.0
2  Chris  Smith      chris@gmail.com  45.0
3   Will  Smith                 None  24.0
4    NaN    NaN                  NaN   NaN
5   None    NaN  anonymous@gmail.com   NaN
6    NaN    NaN                  NaN   NaN

In [95]:
df.dropna()

   first   last            email   age
0   John    Doe   john@gmail.com  33.0
1   Jane    Doe   jane@gmail.com  55.0
2  Chris  Smith  chris@gmail.com  45.0

In [96]:
df.dropna(axis='index', how='all', subset=['last', 'email'])

   first   last                email   age
0   John    Doe       john@gmail.com  33.0
1   Jane    Doe       jane@gmail.com  55.0
2  Chris  Smith      chris@gmail.com  45.0
3   Will  Smith                 None  24.0
5   None    NaN  anonymous@gmail.com   NaN

In [97]:
df.isna()

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

In [99]:
df.fillna(0)

   first   last                email   age
0   John    Doe       john@gmail.com  33.0
1   Jane    Doe       jane@gmail.com  55.0
2  Chris  Smith      chris@gmail.com  45.0
3   Will  Smith                    0  24.0
4      0      0                    0   0.0
5      0      0  anonymous@gmail.com   0.0
6      0      0                    0   0.0

In [100]:
df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [101]:
df['age'] = df['age'].astype(float)

In [102]:
df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [103]:
df['age'].mean()

39.25